:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-light-color: #FFFFFF;
    --background-hero-and-footer-color: #2F303A;
    --background-ourteam-and-filtrbtn-color: #F5F4FA;
    --primary-margin: 30px;
    --primary-padding: 94px;
}

//  $primary-text-color: #757575;
//  $title-text-color: #212121;
//  $accent-color: #2196F3;
//  $primary-light-color: #FFFFFF;
//  $background-hero-and-footer-color: #2F303A;
//  $background-ourteam-and-filtrbtn-color: #F5F4FA;
//  $primary-margin: 30px;
//  $primary-padding: 94px;




